body{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
}
h1{
    font-size: 5rem;
}
span{
    color: midnightblue;
}
.title-image{
    float: left;
    height: 200px;
    margin-right: 50px;
}
.card{
    width: 45%;
}
.left{
    float: left;
}
.right{
    float: right;
}
footer{
    text-align: right;
    color: midnightblue;
}
@media (max-width:681px){
    .logo{
        width: 100px;
    }
    h1{
        font-size: 3.5rem;
        text-align: center;
    }
    .card{
        display: block;
        width: 100%;
        margin-bottom: 50px;
        text-align: justify;
    }
    .card img{
        display: inline;
        width: 100%;
        object-fit: contain;
        margin-bottom: 10px;
    }
}